DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/halqa?schema=public"
PORT=4101
WEB_ORIGIN="http://localhost:4100"
JWT_SECRET="replace-with-at-least-64-random-characters"
JWT_REFRESH_SECRET="replace-with-a-different-64-character-secret"
NODE_ENV="production"
